# Enable rewrite engine
RewriteEngine On

# If project is inside htdocs/buymatch
RewriteBase /BUYMATCH/

# Disable directory listing
Options -Indexes

# -----------------------------------
# SECURITY
# -----------------------------------

# Block access to config and classes
RewriteRule ^(config|classes)/ - [F,L]

# Block direct access to PHP files in folders
RewriteRule ^(admin|organizer|pages|auth)/.*\.php$ - [F,L]

# Allow assets and uploads
RewriteRule ^(assets|uploads)/ - [L]

# -----------------------------------
# ERROR PAGE
# -----------------------------------
ErrorDocument 404 /BUYMATCH/uploads/404.php

# -----------------------------------
# FRONT CONTROLLER
# -----------------------------------

# Allow existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect everything else to index.php
RewriteRule ^ index.php [QSA,L]
